#root {
  --primary-box-shadow: rgb(28 28 28/ 8%) 0px 2px 8px;
  --border-white: rgb(232, 232, 232);
  --primary-bg: rgb(255, 255, 255);
  --zomato-gray: #828282;
  --zomato-red: #ff7e8b;
  --gray: rgb(207, 207, 207);
}
